/*cheechs styles*/

body {
background-image: url("cheechsBg.jpg");
}

label {
  font-family: tahoma;
  font-size: 1em;
  color: #faf9a1;
}

p {
  font-family: tahoma;
  font-size: 1.2em;
  color: #faf9a1;
  /*clear: both;*/
}

.cheech {
  margin-bottom: 1em;
}
